*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#funcionario{
    display: flex;
    overflow: scroll;
    max-width: 1440px;
    margin: auto;
}
.card-funcionario{
    border: 1px solid #000;
    border-radius: 6px;
    box-shadow: 1px 1px 1px #0000006f;
    width: max-content;
    padding: 8px 16px;
}
.card-funcionario header h2{
    font-size: 24px;
}
.card-funcionario header p{
    font-size: 18px;
}